[paths]
source =
  yarl
  */lib/pypy*/site-packages/yarl
  */lib/python*/site-packages/yarl
  */Lib/site-packages/yarl

[report]
skip_covered = true
skip_empty = true
show_missing = true
exclude_also =
    if TYPE_CHECKING    # never executes at runtime
    : \.\.\.(\s*#.*)?$  # coverage.py will never report ... as covered
    ^ +\.\.\.$          # coverage.py will never report ... as covered

[run]
branch = true
cover_pylib = false
plugins = Cython.Coverage
relative_files = true
source =
  .
source_pkgs =
  yarl
