[html]
show_contexts = true
skip_covered = false

[paths]
_site-packages-to-src-mapping =
  .
  */lib/pypy*/site-packages
  */lib/python*/site-packages
  *\Lib\site-packages

[report]
fail_under = 98.95
skip_covered = true
skip_empty = true
show_missing = true
exclude_also =
    ^\s*@pytest\.mark\.xfail
    if TYPE_CHECKING
    assert False
    : \.\.\.(\s*#.*)?$
    ^ +\.\.\.$

[run]
branch = true
cover_pylib = false
# https://coverage.rtfd.io/en/latest/contexts.html#dynamic-contexts
# dynamic_context = test_function  # conflicts with `pytest-cov` if set here
parallel = true
plugins =
  covdefaults
  Cython.Coverage
relative_files = true
source =
  .
source_pkgs =
  yarl
