[paths]
source =
  yarl
  tests
  */lib/pypy*/site-packages/yarl
  */lib/python*/site-packages/yarl
  */Lib/site-packages/yarl

[report]
show_missing = true

[run]
branch = true
cover_pylib = false
plugins = Cython.Coverage
relative_files = true
source =
  tests
source_pkgs =
  yarl
debug = pathmap
