---

ci:
  autoupdate_schedule: quarterly

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 'v4.5.0'
  hooks:
  - id: check-merge-conflict
- repo: https://github.com/asottile/yesqa
  rev: v1.5.0
  hooks:
  - id: yesqa
    additional_dependencies:
    - wemake-python-styleguide
- repo: https://github.com/PyCQA/isort
  rev: '5.12.0'
  hooks:
  - id: isort
- repo: https://github.com/psf/black
  rev: '23.11.0'
  hooks:
  - id: black
    language_version: python3  # Should be a command that runs python3.7+

- repo: https://github.com/python-jsonschema/check-jsonschema.git
  rev: 0.27.3
  hooks:
  - id: check-github-workflows
    files: ^\.github/workflows/[^/]+$
    types:
    - yaml
  - id: check-jsonschema
    alias: check-github-workflows-timeout
    name: Check GitHub Workflows set timeout-minutes
    args:
    - --builtin-schema
    - github-workflows-require-timeout
    files: ^\.github/workflows/[^/]+$
    types:
    - yaml
  - id: check-readthedocs

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 'v4.5.0'
  hooks:
  - id: end-of-file-fixer
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: file-contents-sorter
    files: |
      docs/spelling_wordlist.txt|
      .gitignore|
      .gitattributes
  - id: check-case-conflict
  - id: check-json
  - id: check-xml
  - id: check-executables-have-shebangs
  - id: check-toml
  - id: check-xml
  - id: check-yaml
  - id: debug-statements
  - id: check-added-large-files
  - id: check-symlinks
  - id: debug-statements
  - id: detect-aws-credentials
    args: ['--allow-missing-credentials']
  - id: detect-private-key
    exclude: ^examples/
- repo: https://github.com/asottile/pyupgrade
  rev: 'v3.15.0'
  hooks:
  - id: pyupgrade
    args: ['--py37-plus']
- repo: https://github.com/PyCQA/flake8
  rev: '6.1.0'
  hooks:
  - id: flake8
    exclude: "^docs/"

- repo: https://github.com/codespell-project/codespell.git
  rev: v2.2.6
  hooks:
  - id: codespell

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.33.0
  hooks:
  - id: yamllint
    args:
    - --strict

- repo: https://github.com/MarcoGorelli/cython-lint.git
  rev: v0.15.0
  hooks:
  - id: cython-lint

- repo: https://github.com/Lucas-C/pre-commit-hooks-markup
  rev: v1.0.1
  hooks:
  - id: rst-linter
    exclude: ^CHANGES\.rst$
    files: >-
      ^[^/]+[.]rst$

- repo: https://github.com/pre-commit/mirrors-mypy.git
  rev: v1.7.0
  hooks:
  - id: mypy
    alias: mypy-py312
    name: MyPy, for Python 3.12
    additional_dependencies:
    - lxml  # requirement of `--txt-report`
    - multidict
    - pytest
    - tomli  # requirement of packaging/pep517_backend/
    - types-setuptools  # requirement of packaging/pep517_backend/
    args:
    - --show-error-codes
    - --install-types
    - --non-interactive
    - --python-version=3.12
    - --txt-report=.tox/.tmp/.mypy/python-3.12
    - packaging/
    - tests/
    - yarl/
    pass_filenames: false
  - id: mypy
    alias: mypy-py310
    name: MyPy, for Python 3.10
    additional_dependencies:
    - lxml  # requirement of `--txt-report`
    - multidict
    - pytest
    - tomli  # requirement of packaging/pep517_backend/
    - types-setuptools  # requirement of packaging/pep517_backend/
    args:
    - --show-error-codes
    - --install-types
    - --non-interactive
    - --python-version=3.10
    - --txt-report=.tox/.tmp/.mypy/python-3.10
    - packaging/
    - tests/
    - yarl/
    pass_filenames: false
  - id: mypy
    alias: mypy-py38
    name: MyPy, for Python 3.8
    additional_dependencies:
    - lxml  # requirement of `--txt-report`
    - multidict
    - pytest
    - tomli  # requirement of packaging/pep517_backend/
    - types-setuptools  # requirement of packaging/pep517_backend/
    args:
    - --show-error-codes
    - --install-types
    - --non-interactive
    - --python-version=3.8
    - --txt-report=.tox/.tmp/.mypy/python-3.8
    - packaging/
    - tests/
    - yarl/
    pass_filenames: false
  - id: mypy
    alias: mypy-py37
    name: MyPy, for Python 3.7
    additional_dependencies:
    # - importlib_metadata
    - lxml  # requirement of `--txt-report`
    - multidict
    - pytest
    - tomli  # requirement of packaging/pep517_backend/
    - types-setuptools  # requirement of packaging/pep517_backend/
    args:
    - --show-error-codes
    - --install-types
    - --non-interactive
    - --python-version=3.7
    - --txt-report=.tox/.tmp/.mypy/python-3.7
    - packaging/
    - tests/
    - yarl/
    pass_filenames: false

...
