include LICENSE
include CHANGES.rst
include README.rst
graft yarl
graft docs
graft tests
global-exclude *.pyc
global-exclude *.cache
include yarl/*.c
exclude yarl/_quoting.html
exclude yarl/_quoting.*.so
exclude yarl/_quoting.pyd
exclude yarl/_quoting.*.pyd
prune docs/_build
