include .coveragerc
include pyproject.toml
include pytest.ini
include towncrier.toml
include LICENSE
include NOTICE
include CHANGES.rst
include README.rst
graft yarl
graft packaging
graft docs
graft CHANGES
graft requirements
graft tests
global-exclude *.pyc
global-exclude *.cache
exclude yarl/*.c
exclude yarl/*.html
exclude yarl/*.so
exclude yarl/*.pyd
prune docs/_build
