trigger:
  branches:
    include:
    - refs/tags/*
pr: none


variables:
- group: codecov
- group: twine


resources:
  containers:
  - container: manylinux
    image: quay.io/pypa/manylinux1_x86_64


stages:
- stage: lint
  displayName: 'Run linters'
  jobs:
  - template: stage-lint.yml

- stage: test
  displayName: 'Run tests'
  jobs:
  - template: stage-test.yml
    parameters:
      codecov.token: '$(codecov.token)'

- stage: build
  displayName: 'Build distributions'

  jobs:
  - job: tarball
    displayName: 'Tarball'
    pool:
      vmImage: 'ubuntu-latest'

    steps:
      - template: step-build.yml
        parameters:
          steps:
            - script: |
                python setup.py sdist
              displayName: 'Make tarball'

  - job: manylinux
    displayName: 'Manylinux'
    strategy:
      matrix:
        py36 x64:
          python.code: 'cp36-cp36m'
          manylinux: 'manylinux_64'
        py37 x64:
          python.code: 'cp37-cp37m'
          manylinux: 'manylinux_64'
    pool:
      vmImage: 'ubuntu-latest'
    container: manylinux
    steps:
      - script: |
          /opt/python/$(python.code)/bin/python -m venv .build-venv
        displayName: 'Use Python $(python.code)'

      - script: |
          source .build-venv/bin/activate
          pip install -U setuptools wheel
        displayName: 'Install tools'

      - script: |
          source .build-venv/bin/activate
          make cythonize
          python setup.py bdist_wheel
        displayName: 'Make wheel'

      - script: |
          auditwheel repair dist/*.whl --wheel-dir wheelhouse/
        displayName: 'Repair wheel'

      - template: step-store-dist.yml
        parameters:
          folder: wheelhouse

  - job:
    strategy:
      matrix:
        Win py36 x64:
          python.version: '3.6'
          python.architecture: 'x64'
          image: 'windows-latest'
        Win py37 x64:
          python.version: '3.7'
          python.architecture: 'x64'
          image: 'windows-latest'
        Win py36 x86:
          python.version: '3.6'
          python.architecture: 'x86'
          image: 'windows-latest'
        Win py37 x86:
          python.version: '3.7'
          python.architecture: 'x86'
          image: 'windows-latest'
        Mac py36:
          python.version: '3.6'
          image: 'macos-latest'
          python.architecture: 'x64'
        Mac py37:
          python.version: '3.7'
          image: 'macos-latest'
          python.architecture: 'x64'
    pool:
      vmImage: '$(image)'
    steps:
      - template: step-build.yml
        parameters:
          python: '$(python.version)'
          architecture: '$(python.architecture)'
          steps:
            - script: |
                make cythonize
                python setup.py bdist_wheel
              displayName: 'Make wheel'
              
- stage: publish
  displayName: 'Publish distributions'
  jobs:
  - job:
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - checkout: none

    - bash: |
        echo '##vso[task.setvariable variable=gittag]`git describe --exact-match $(Build.SourceVersion)`'
      displayName: 'Match GitHub tag'

    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.7'
      displayName: "Use Python 3.7"

    - script: |
        pip install -U twine
      displayName: 'Install twine'

    - task: DownloadBuildArtifacts@0
      displayName: 'Download distributions'
      inputs:
        buildType: current
        downloadType: single
        artifactName: dist
        downloadPath: $(Build.ArtifactStagingDirectory)

    - script: |
        ls $(Build.ArtifactStagingDirectory)/dist
      displayName: 'Distributions list'

    - script: |
        python -m twine upload --verbose $(Build.ArtifactStagingDirectory)/dist/*
      displayName: 'Upload to PyPI'
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: $(twine.token)

    - task: GitHubRelease@1
      inputs:
        gitHubConnection: release-upload
        assets: $(Build.ArtifactStagingDirectory)/dist/*
        addChangeLog: false
        # pre-release for alpha or beta
        isPreRelease: or(contains($[ variables.gittag ], 'a'), contains($[ variables.gittag ], 'b'))
