jobs:
- job: 'flake8'
  pool:
    vmImage: 'ubuntu-latest'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: "3.7"
      architecture: "x64"

  - script: |
      pip install -r requirements/lint.txt
    displayName: "Install deps"

  - script: |
      make flake8
    displayName: "Run flake8"

- job: 'black'
  pool:
    vmImage: 'ubuntu-latest'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: "3.7"
      architecture: "x64"

  - script: |
      pip install -r requirements/lint.txt
    displayName: "Install deps"

  - script: |
      make black-check
    displayName: "Run black checker"

- job: 'mypy'
  pool:
    vmImage: 'ubuntu-latest'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: "3.7"
      architecture: "x64"

  - script: |
      pip install -r requirements/lint.txt
    displayName: "Install deps"

  - script: |
      pip install -e .
    displayName: "Install itself"
    env:
      YARL_NO_EXTENSIONS: 1

  - script: |
      make mypy
    displayName: "Run black checker"

- job: 'docs'
  pool:
    vmImage: 'ubuntu-latest'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: "3.7"
      architecture: "x64"

  - script: |
      apt install libenchant-dev
      pip install -r requirements/doc-spelling.txt
    displayName: "Install deps"

  - script: |
      make doc
    displayName: "Run docs checker"
    env:
      YARL_NO_EXTENSIONS: 1
